In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [5]:
df= pd.read_csv("BuyerRatio.csv")

In [6]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [7]:
stats.chi2_contingency([df["East"], df["West"], df["North"], df["South"]])

Chi2ContingencyResult(statistic=1.5959455386610577, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  442.23468701],
       [ 146.81287862, 1518.18712138],
       [ 131.11756787, 1355.88243213],
       [  72.30424052,  747.69575948]]))