In [1]:
import re
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("Elon_musk.csv",encoding='unicode_escape')

In [3]:
df

      Unnamed: 0                                               Text
0              1                             @kunalb11 Im an alien
1              2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2              3                @joerogan @Spotify Great interview!
3              4                    @gtera27 Doge is underestimated
4              5  @teslacn Congratulations Tesla China for amazi...
...          ...                                                ...
1994        1995  @flcnhvy True, it sounds so surreal, but the n...
1995        1996  @PPathole Make sure to read ur terms &amp; con...
1996        1997                @TeslaGong @PPathole Samwise Gamgee
1997        1998  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998        1999                          Progress update August 28

[1999 rows x 2 columns]

In [4]:
df.isna().sum()

Unnamed: 0    0
Text          0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df=df.drop(columns=('Unnamed: 0'),axis=1)

In [7]:
df

                                                   Text
0                                @kunalb11 Im an alien
1     @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2                   @joerogan @Spotify Great interview!
3                       @gtera27 Doge is underestimated
4     @teslacn Congratulations Tesla China for amazi...
...                                                 ...
1994  @flcnhvy True, it sounds so surreal, but the n...
1995  @PPathole Make sure to read ur terms &amp; con...
1996                @TeslaGong @PPathole Samwise Gamgee
1997  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998                          Progress update August 28

[1999 rows x 1 columns]

In [8]:
df.Text=df.Text.apply(lambda x: re.sub('[^a-zA-Z ]', "", x))

In [9]:
df

                                                   Text
0                                    kunalb Im an alien
1     IDAACarmack Ray tracing on Cyberpunk with HDR ...
2                      joerogan Spotify Great interview
3                          gtera Doge is underestimated
4     teslacn Congratulations Tesla China for amazin...
...                                                 ...
1994  flcnhvy True it sounds so surreal but the nega...
1995  PPathole Make sure to read ur terms amp condit...
1996                  TeslaGong PPathole Samwise Gamgee
1997             PPathole Altho Dumb and Dumber is UFUF
1998                            Progress update August

[1999 rows x 1 columns]

In [10]:
df.Text=df.Text.apply(lambda x: x.lower())

In [11]:
df

                                                   Text
0                                    kunalb im an alien
1     idaacarmack ray tracing on cyberpunk with hdr ...
2                      joerogan spotify great interview
3                          gtera doge is underestimated
4     teslacn congratulations tesla china for amazin...
...                                                 ...
1994  flcnhvy true it sounds so surreal but the nega...
1995  ppathole make sure to read ur terms amp condit...
1996                  teslagong ppathole samwise gamgee
1997             ppathole altho dumb and dumber is ufuf
1998                            progress update august

[1999 rows x 1 columns]

In [12]:
df.Text=df.Text.apply(lambda x: x.split())

In [13]:
df

                                                   Text
0                               [kunalb, im, an, alien]
1     [idaacarmack, ray, tracing, on, cyberpunk, wit...
2                 [joerogan, spotify, great, interview]
3                     [gtera, doge, is, underestimated]
4     [teslacn, congratulations, tesla, china, for, ...
...                                                 ...
1994  [flcnhvy, true, it, sounds, so, surreal, but, ...
1995  [ppathole, make, sure, to, read, ur, terms, am...
1996             [teslagong, ppathole, samwise, gamgee]
1997     [ppathole, altho, dumb, and, dumber, is, ufuf]
1998                         [progress, update, august]

[1999 rows x 1 columns]

In [14]:
import nltk  
nltk.download('stopwords') 
from nltk.corpus import stopwords  
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [15]:
stopwords.words("english")

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [16]:
df.Text=df.Text.apply(lambda x: [word  for word in x if word not in set(stopwords.words('english'))])

In [17]:
df

                                                   Text
0                                   [kunalb, im, alien]
1     [idaacarmack, ray, tracing, cyberpunk, hdr, ne...
2                 [joerogan, spotify, great, interview]
3                         [gtera, doge, underestimated]
4     [teslacn, congratulations, tesla, china, amazi...
...                                                 ...
1994  [flcnhvy, true, sounds, surreal, negative, pro...
1995  [ppathole, make, sure, read, ur, terms, amp, c...
1996             [teslagong, ppathole, samwise, gamgee]
1997              [ppathole, altho, dumb, dumber, ufuf]
1998                         [progress, update, august]

[1999 rows x 1 columns]

In [18]:
ps = PorterStemmer()  
df.Text=df.Text.apply(lambda x: [ps.stem(word) for word in x])

In [19]:
df

                                                   Text
0                                   [kunalb, im, alien]
1     [idaacarmack, ray, trace, cyberpunk, hdr, next...
2                 [joerogan, spotifi, great, interview]
3                             [gtera, doge, underestim]
4     [teslacn, congratul, tesla, china, amaz, execu...
...                                                 ...
1994  [flcnhvi, true, sound, surreal, neg, propagand...
1995  [ppathol, make, sure, read, ur, term, amp, con...
1996                [teslagong, ppathol, samwis, gamge]
1997               [ppathol, altho, dumb, dumber, ufuf]
1998                          [progress, updat, august]

[1999 rows x 1 columns]

In [20]:
df.Text=df.Text.apply(lambda x: " ".join(x))

In [21]:
df

                                                   Text
0                                       kunalb im alien
1     idaacarmack ray trace cyberpunk hdr nextlevel tri
2                      joerogan spotifi great interview
3                                 gtera doge underestim
4     teslacn congratul tesla china amaz execut last...
...                                                 ...
1994  flcnhvi true sound surreal neg propaganda stil...
1995  ppathol make sure read ur term amp condit clic...
1996                     teslagong ppathol samwis gamge
1997                     ppathol altho dumb dumber ufuf
1998                              progress updat august

[1999 rows x 1 columns]

In [22]:
pip install -U textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.10/dist-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.10/dist-packages (from textblob) (3.8.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (8.1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (4.65.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (2022.10.31)

In [23]:
from textblob import TextBlob
df['sentiment'] = df['Text'].apply(lambda x: TextBlob(x).sentiment[0] )
df[['Text','sentiment']].head()

                                                Text  sentiment
0                                    kunalb im alien      -0.25
1  idaacarmack ray trace cyberpunk hdr nextlevel tri       0.00
2                   joerogan spotifi great interview       0.80
3                              gtera doge underestim       0.00
4  teslacn congratul tesla china amaz execut last...       0.00